<html>
  {% include "head.html" %}
  <body>
    <!-- Left Nav -->
    <div class="col-md-2">
      <h3>Collections</h3>
      <ul class="nav nav-pills nav-stacked">
        {% for c in collections %}
        <li role="presentation" {% ifequal c collection %}class="active"{% endifequal %}>
          <a href="/collection/{{c.collection_id}}">{{c.name}}</a>
        </li>
        {% endfor %}
        <li>
          <form name="add-collection" action="/add-collection" method="POST">
            {{xsrf|safe}}
            <input name="name" type="text" placeholder="Collection Name"/>
            <input type="submit" value="Add"/>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h4>{{collection.name}}</h4>
      <ul>
        {% for tile in tiles %}
        <li><a href="{{tile.url}}">
            {% if tile.title %}
            {{tile.title}}
            {% else %}
            {{tile.url}}
            {% endif %}
        </a></li>
        {% endfor %}
      </ul>
      <form name="add-tile" action="/add-tile" method="POST">
        {{xsrf|safe}}
        <input name="url" type="text" placeholder="URL"/>
        <input name="collection" type="hidden" value="{{collection.collection_id}}"/>
        <input type="submit" value="Add"/>
      </form>
    </div>
  </body>
</html>
